*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.kotlin/
/.gradle-user/
/.gradle-user-*/
**/build/
*.log
*.keystore
*.jks
/LOCAL_RELEASE.md
/LOCAL_SIGNING.md
/img/settings-basic.jpg
/img/settings-login.jpg
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
